poetry.lock

.DS_Store

ECTSum-GPT3/.ipynb_checkpoints/

.vscode

report_cruncher/config/__pycache__/
report_cruncher/handler/__pycache__/
report_cruncher/helper/__pycache__/

report_cruncher/__pycache__/


ECTSum-GPT3/__pycache__/

env/
.env/
report-cruncher-client/node_modules
